*{padding: 0px; margin: 0px;}
body{background-color: white; color: darkblue; font-family: sans-serif;}


#container
{
  margin: 0px auto;
  max-width: 720px;
}
#navbar
{


  background-color: black;
  color: white;

}
.nav
{
  padding: 4px;
  list-style-type: none;
}

li {
  display: inline;
}
